
@import url(https://fonts.googleapis.com/css?family=PT+Mono);
@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
	font-family: 'Roboto', sans-serif; 
}

#category {
	margin-top: 60px;
	position: relative;
	text-align: center;
}

#categorypage {
	margin-top: 60px;
}

article {
	margin-top: 60px;
}

#login {
	margin-top: 50px;
}

#signup {
	margin-top: 50px;
}

#icon {
	font-family: 'PT Mono', ;
	font-size: 50px;
	
	text-color: red;
}

h1 {
	font-family: 'Roboto', sans-serif; 
}

h3 {
	font-family: 'Roboto', sans-serif; 
}


#container {
	
}

form {
	width: 40%;
}

img {
	width: 100%;
	max-width: 600px;
	max-height: 500px;
	margin-bottom: 20px;
}

#white a {
	color: white;
}


.login {
	margin-right: 10px;
}
